@import url("../fonts/stylesheet.css");

body {
  min-width: 320px;
  max-width: 1920px;
  margin: 0 auto;
  font-family: "OpenSans";
}

/* === Styles for Top === */
.top {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center;
  margin: 0;
  padding: 0;
}
.surface_logo g {
  fill: #ffffff;
}
.store_buttons {
  display: flex;
}
.download_apple_store, .get_on_google_play {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5e42b0;
  border: none;
  z-index: 124;
}
.store_buttons_icon {
  fill: #ffffff;
}

.download_button_label {
  width: 35%;
  margin: 0;
  padding: 0 0 0 0.5rem;
  color: #ffffff;
  font-size: 0.625em;
  text-align: left;
}
.be_recruited,
.play_college_sports  {
  display: block;
}

@media (max-width:640px) {
  .top {
    background-image: url("../images/export_smart_320.png");
    padding-top: 33px;
    padding-bottom: 85px;
  }
  .surface_logo {
    display: block;
    height: 36px;
    width: 132px;
    margin: 0 auto;
  }
  .top_titles {
    width: 100%;
    margin-top: 130px;
    max-width: 380px;
  }
  .be_recruited {
    display: block;
    font-size: 1.75rem;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.2;
    letter-spacing: 0.09rem;
    margin-left: 18px;
    margin-bottom: 18px;
    z-index: 115;
  }
  .play_college_sports {
    display: block;
    font-size: 1.75rem;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.2;
    letter-spacing: 0.1rem;
    margin-left: 19.375%;
    margin-bottom: 0;
    z-index: 114;
    max-width: 75%;
  }
  .store_buttons {
    width: 100%;
    margin: 83px 0 0 0;
    flex-wrap: wrap;
  }
  .download_apple_store, .get_on_google_play {
    border-radius: 2rem;
    width: 87.5%;
    max-width: 320px;
    height: 2.1875rem;
    margin-left: auto;
    margin-right: auto;
  }
  .download_button_label {
    font-size: 0.5rem;
    letter-spacing: 0.01rem;
    line-height: 1.4;
    /* width: 55%; */
  }
  .download_apple_store {
    margin-bottom: 14px;
  }
  .store_buttons_icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 10px;
  }
  .apple_icon {
    margin-top: -4px;
  }
}

@media (min-width:641px) and (max-width: 960px) {
  .top {
    background-image: url("../images/export_smart_768.png");
    padding-top: 39px;
    padding-bottom: 90px;
  }
  .surface_logo {
    display: block;
    height: 56px;
    width: 205px;
    margin: 0 auto;
  }
  .top_titles {
    width: 100%;
    margin-top: 172px;
  }
  .be_recruited {
    display: block;
    font-size: 4.0rem;
    color: #ffffff;
    font-weight: bold;
    line-height: 4rem;
    letter-spacing: 0.2rem;
    margin-left: 84px;
    margin-bottom: 0;
    padding: 0;
    z-index: 100;
  }
  .play_college_sports {
    display: block;
    font-size: 4rem;
    color: #ffffff;
    font-weight: bold;
    letter-spacing: 0.23rem;
    line-height: 1.2;
    margin-left: 25%;
    margin-top: 8px;
    margin-bottom: 0;
    max-width: 550px;
    padding: 0;
    z-index: 100;
  }
   .top .store_buttons {
    width: 100%;
    margin-top: 300px;
    /* margin-bottom: 90px; */
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }
  .download_apple_store, .get_on_google_play {
    border-radius: 3rem;
    width: 40%;
    height: 77px;
    z-index: 124;
  }
  .download_apple_store {
    /* margin-left: 15px; */
    margin-right: 2rem;
  }
  .dbl_lin1 {
    font-weight: 400;
  }
  .dbl_lin2 {
    font-weight: bold;
  }
  .google_icon {
    margin-left: 20px;
    width: 45.6px;
    height: 50px;
  }
  .apple_icon {
    margin-left: -16px;
    margin-top: -4px;
    width: 43.2px;
    height: 50.4px;
  }
  .download_apple_store .download_button_label {
    font-size: 0.8rem;
    width: 50%;
    margin-left: 1rem;
    line-height: 1.2;
    letter-spacing: 0.07rem;
  }
  .get_on_google_play .download_button_label {
    font-size: 0.8rem;
    width: 50%;
    margin-left: 1rem;
    line-height: 1.2;
    letter-spacing: 0.09rem;
  }

}

@media (min-width: 961px) {
  .top {
    height: 59.9375rem;
    background-image: url("../images/export_smart_1920.png");
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .surface_logo {
    height: 94px;
    width: 440px;
    margin-top: 47px;
  }
  .top_titles {
    width: 100%;
    margin-top: 260px;
  }
  .be_recruited {
    font-size: 6rem;
    color: #ffffff;
    font-weight: bold;
    /* letter-spacing: 0.1rem; */
    line-height: 1.4;
    min-width: 640px;
    text-align: left;
    margin-left: 10.05%;
    margin-bottom: 0;
    padding: 0;
    z-index: 100;
  }
  .play_college_sports {
    font-size: 5rem;
    color: #ffffff;
    font-weight: bold;
    line-height: 1.4;
    /* min-width: 640px; */
    text-align: right;
    margin-top: 0;
    margin-right: 10.26%;
    margin-bottom: 60px;
    padding: 0;
    z-index: 100;
  }
  .store_buttons {
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
  }
  .download_apple_store, .get_on_google_play {
    margin-top: 0;
    border-radius: 3rem;
    width: 312px;
    height: 77px;
    z-index: 124;
  }
  .download_apple_store {
    margin-right: 2rem;
  }
  .download_button_label {
    font-size: 1rem;
    width: 55%;
    margin-left: 1rem;
  }
  .dbl_lin1 {
    font-weight: 400;
  }
  .dbl_lin2 {
    font-weight: bold;
  }
  .store_buttons_icon {
    width: 3rem;
    height: 3rem;
  }
}

/* === Styles for athlets === */
  .athlets {
    margin: 0;
    padding: 0;
  }
  .athlets_pre_header {
    padding: 0 0 3px 0;
  }
  .athlets_pre_header_text1,
  .athlets_pre_header_text2,
  .athlets_pre_header_text3 {
    display: block;
  }
  .athlets_pre_header_text1::after,
  .athlets_pre_header_text2::after {
    content: " ";
    display:block;
    background-color: #5e42b0;
    z-index: 106;
  }
  .athlets .athlets_pre_header_text3::after {
    content: " ";
    display:block;
    background-color: #ffffff;
    z-index: 106;
  }

  @media (max-width:640px) {
    .chapter_1 {
      padding-top: 12px;
    }
    .athlets_title {
      font-size: 3.15rem;
      color: #e7e7e7;
      font-weight: bold;
      line-height: 1.2em;
      text-align: left;
      margin: 0 0 0 20px;
      z-index: 109;
    }
    .footballer1 {
      margin-top: -14px;
      margin-left: 21.875%;
      /* margin-left: 70px; */
    }
    .athlets_info_section {
      /* height: 230px; */
      box-sizing: border-box;
      margin: 0;
    }
    .athlets .athlets_color1 {
      background-color: #ffffff;
      /* height: 160px; */
      padding: 14px 0 34px 0;
    }
    .athlets .athlets_color2 {
      background-color: #f5f4f9;
      /* height: 263px; */
      padding: 54px 0 34px 0;
    }
    .athlets .athlets_color3 {
      background-color: #5e42b0;
      /* height: 230px; */
      /* margin-top: -30px; */
      padding: 52px 0 38px 0;
    }
    .athlets_info_header {
      margin: 0 0 0 20px;
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
    }
    .athlets_pre_header_text1,
    .athlets_pre_header_text2 {
      font-size: 0.9rem;
      font-weight: bold;
      color: #000000;
      padding-bottom: 3px;
      padding: 0;
    }
    .athlets_pre_header_text1::after,
    .athlets_pre_header_text2::after,
    .athlets .athlets_pre_header_text3::after
     {
      border-radius: 1px;
      width: 15px;
      height: 4px;
      margin: 0;
    }
    .athlets_header {
      font-size: 1.4375rem;
      letter-spacing: .07rem;
      color: #c1c1c1;
      font-weight: bold;
      text-transform: uppercase;
      line-height: 1.5em;
      text-align: left;
      margin: 0 0 0 6px;
      z-index: 105;
    }

    .athlets .athlets_text {
      font-size: 1.0rem;
      font-weight: normal;
      letter-spacing: .02rem;
      color: #000000;
      line-height: 1.15;
      text-align: left;
      margin-top: 17px;
      margin-left: 20px;
      /* margin-bottom: 3rem; */
      width: 90%;
      z-index: 102;
    }
    .athlets_color3 .athlets_text {
      color: #ffffff;
      width: 85%;
    }
}

@media (min-width: 641px) and (max-width:960px) {
  .athlets {
    width: 100%;
  }
  .athlets_title {
    font-size: 5rem;
    color: #e7e7e7;
    font-weight: bold;
    line-height: 1.2;
    letter-spacing: 0.07rem;
    text-align: left;
    margin-top: 66px;
    margin-bottom: 0;
    padding: 0;
    z-index: 109;
  }
  .footballer1 {
    position: absolute;
    margin-top: -67px;
    left: -163px;
    height: 699px;
    width: 497px;
    background-size: auto;
  }
  .athlets_info_section {
    box-sizing: border-box;
    /* margin 0; */
  }
  .chapter_1 .chapter_1_heading,
  .athlets .athlets_info_zone,
  .athlets .athlets_info_section .athlets_info_zone {
    margin-left: 293px;
  }
  .athlets .athlets_color1 {
    background-color: #ffffff;
    /* height: 160px; */
    padding: 32px 0 34px 0;
  }
  .athlets .athlets_color2 {
    background-color: #f5f4f9;
    /* height: 236px; */
    padding: 26px 0 32px 0;
  }
  .athlets .athlets_color3 {
    background-color: #5e42b0;
    /* height: 180px; */
    padding: 32px 0 33px 0;
  }
  .athlets_info_header {
    margin: 0 0 0 20px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }
  .athlets_pre_header_text {
    font-size: 1.1rem;
    line-height: 1.2;
    font-weight: bold;
    color: #000000;
    margin: 0;
    padding: 0;
  }
  .athlets_pre_header_text1::after,
  .athlets_pre_header_text2::after,
  .athlets .athlets_pre_header_text3::after
   {
    border-radius: 1px;
    width: 16px;
    height: 4px;
    margin: 3px 0 0 0;
  }
  .athlets_header {
    font-size: 2rem;
    letter-spacing: 0.1rem;
    color: #c1c1c1;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.5em;
    text-align: left;
    margin: 0 0 0 10px;
    z-index: 105;
  }
  .athlets_text {
    font-size: 1rem;
    font-weight: normal;
    letter-spacing: .06rem;
    color: #000000;
    line-height: 1.8;
    text-align: left;
    margin-top: 14px;
    margin-left: 20px;
    margin-bottom: 0;
    max-width: 60%;
    /* width: 90%; */
    z-index: 102;
  }
  .athlets_color3 .athlets_text {
    color: #ffffff;
    margin-top: 11px;
    letter-spacing: 0.05rem;
  }
}

@media (min-width: 961px) {
  .athlets_title {
    font-size: 4rem;
    color: #e7e7e7;
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
    margin: 30px 0 0 0;
    padding: 30px 0 0 0;
    z-index: 109;
  }
  .athlets_info_section {
    box-sizing: border-box;
  }
  .chapter_1 .chapter_1_heading,
  .athlets .athlets_info_zone,
  .athlets .athlets_info_section .athlets_info_zone {
    margin-left: calc(10% + 550px);
    width: calc(90% - 600px);
    /* font-size: 4rem; */
  }
  .athlets .athlets_color1 {
    background-color: #ffffff;
    /* height: 265px; */
    padding: 110px 0 80px 0;
  }
  .athlets .athlets_color2 {
    background-color: #f5f4f9;
    /* height: 249px; */
    padding: 60px 0 90px 0;
  }
  .athlets .athlets_color3 {
    background-color: #5e42b0;
    /* height: 223px; */
    padding: 60px 0 60px 0;
  }
  .footballer1 {
    /* background-image: url("../images/footballer_566.png"); */
    position: absolute;
    /* top: 95px; */
    margin-top: -95px;
    left: 10%;
    height: auto;
    width: 550px;
    /* background-size: auto; */
  }
  .footballer2 {
    display: none;
  }
  .athlets_info_header {
    margin: 0 0 0 20px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }
  .athlets_pre_header_text {
    font-size: 1.5rem;
    font-weight: bold;
    color: #000000;
    margin: 0;
    padding: 0;
  }
  .athlets_pre_header_text1::after,
  .athlets_pre_header_text2::after,
  .athlets .athlets_pre_header_text3::after
   {
    border-radius: 1px;
    width: 15px;
    height: 4px;
    margin: 0;
  }
  .athlets_header {
    font-size: 1.75rem;
    letter-spacing: .15rem;
    color: #c1c1c1;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.5em;
    text-align: left;
    margin: 0 0 0 10px;
    z-index: 105;
    max-width: calc(85% - 650px);
  }
  .athlets_text {
    font-size: 0.92rem;
    font-weight: normal;
    letter-spacing: .05rem;
    color: #000000;
    line-height: 1.6;
    text-align: left;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 3rem;
    /* width: 90%; */
    z-index: 102;
  }
  .athlets_color3 .athlets_text {
    color: #ffffff;
  }
}

/* === Stypes for players === */
.players {
  margin: 0;
  padding: 0;
}
.players .athlets_pre_header_text3 {
  color: #5e42b0;
}
.players .athlets_pre_header_text3::after {
  content: " ";
  display:block;
  background-color: #ffffff;
  z-index: 9999;
}


@media (max-width:640px) {
  .players {
    padding-top: 10px;
  }
  .players .athlets_title {
    margin-left: 16px;
  }
  .players .athlets_info_zone {
    margin-left: 20px;
  }
  .players .basketballer1 {
    margin: -12px 0 0 10px;
  }
  .players .athlets_color1 {
    background-color: #ffffff;
    /* height: 160px; */
    padding: 44px 0 36px 0;
  }
  .players .athlets_color2 {
    background-color: #f5f4f9;
    /* height: 263px; */
    padding: 50px 0 36px 0;
  }
  .players .athlets_color1 .athlets_text {
    line-height: 1.2;
    letter-spacing: .02rem;
    width: 85%;
  }
  .players .athlets_color2 .athlets_text {
    line-height: 1.2;
    letter-spacing: .02rem;
    width: 90%;
  }
  .players .athlets_color3 {
    background-color: #090c35;
    /* height: 230px; */
    padding: 50px 0 36px 0;
  }
  .players .athlets_color3 .athlets_text {
    line-height: 1.2;
    letter-spacing: .02rem;
    width: 90%;
  }
  .players .athlets_pre_header_text3::after
   {
    border-radius: 1px;
    width: 15px;
    height: 4px;
    margin: 0;
  }
}
@media (min-width: 641px) and (max-width:960px)  {
  .basketballer1 {
    /* background-image: url("../images/basketballer_436.png"); */
    position: absolute;
    margin-top: -124px;
    /* left: auto; */
    right: 0px;
    height: 565px;
    width: 436px;
    background-size: auto;
  }
  .players .athlets_title {
    letter-spacing: 0.06rem;
  }
  .players .athlets_info_zone,
  .players .athlets_info_section .athlets_info_zone {
    margin-left: 4.1%;
    width: calc(100% - 360px);
    /* width: 52%; */
  }
  .players .athlets_color1 {
    background-color: #ffffff;
    /* height: 230px; */
    padding: 30px 0 34px 0;
  }
  .players .athlets_color2 {
    background-color: #f5f4f9;
    /* height: 181px; */
    padding: 28px 0 34px 0;
  }
  .players .athlets_color3 {
    background-color: #090c35;
    /* height: 180px; */
    padding: 30px 0 32px 0;
  }
  .players .athlets_pre_header_text3::after
   {
    border-radius: 1px;
    width: 15px;
    height: 4px;
    margin: 0;
  }
  .players .athlets_color3 .athlets_text {
    letter-spacing: 0.09rem;
    margin-top: 14px;
  }
}
@media (min-width: 961px) {
  .basketballer1 {
    /* background-image: url("../images/basketballer_991.png"); */
    position: absolute;
    margin-top: -100px;
    left: 43%;
    /* margin-right: 5%; */
    height: 815px;
    max-width: 55%;
    /* 991px 815px */
    background-size: auto;
    object-fit: cover;
    object-position: left top;
    }
  .players .athlets_info_zone,
  .players .athlets_info_section .athlets_info_zone {
    margin-left: 6.51%;
    width: 45%;
  }
  .players .athlets_color1 {
    background-color: #ffffff;
    /* height: 265px; */
    padding: 10px 0 60px 0;
  }
  .players .athlets_color2 {
    background-color: #f5f4f9;
    /* height: 249px; */
    padding: 40px 0 40px 0;
  }
  .players .athlets_color3 {
    background-color: #090c35;
    /* height: 223px; */
    padding: 60px 0 40px 0;
  }
  .players .athlets_pre_header_text3::after
   {
    border-radius: 1px;
    width: 15px;
    height: 4px;
    margin: 0;
  }
}

/* === styles for chapter_2 === */
.chapter_2 >* {
  margin: 0;
  padding: 0;
}
.chapter_2 .be_active_pre_header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5e42b0;
  padding: 0;
  z-index: 200;
}
.chapter_2 .be_active_pre_header_text {
  color: #ffffff;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
.chapter_2 .be_active_pre_header_text::after {
  display: block;
  content: " ";
  background-color: #8f7bc8;
  margin: 3px 0 0 0;
  padding: 0;
  z-index: 999;
}

@media (max-width:640px) {
  .chapter_2 .be_active_picture >* {
    width: 100%;
    object-fit: cover;
    object-position: center top;
    z-index: 1;
  }
  .chapter_2 .be_active_pre_header {
    position: absolute;
    width: 70px;
    height: 70px;
    margin-top: -62px;
    margin-left: 20px;
  }
  .chapter_2 .be_active_pre_header_text {
    font-size: 1rem;
  }
  .chapter_2 .be_active_pre_header_text::after {
     width: 1rem;
     height: 4px;
     border-radius: 1px;
     z-index: 106;
   }
  .chapter_2 .be_active_text_zone {
    /* height: 271px; */
    margin: 0 0 78px 0;
  }
  .chapter_2 .be_active_header {
    margin: 0 0 0 20px;
    padding-top: 20px;
    font-size: 1.75rem;
    font-weight: bold;
    letter-spacing: 0.09rem;
    color: #e7e7e7;
  }
  .chapter_2 .be_active_text {
    width: 82%;
    margin: 12px 0 0 20px;
    font-size: 1.0rem;
    font-weight: bold;
    letter-spacing: .01rem;
    color: #000000;
    line-height: 1.2;
    text-align: left;
  }
}
@media (min-width: 641px) and (max-width:960px) {
  .chapter_2 .be_active_picture >* {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center top;
    z-index: 1;
  }
  .chapter_2 .be_active_pre_header {
    position: absolute;
    width: 116px;
    height: 116px;
    margin-top: -84px;
    margin-left: 32px;
  }
  .chapter_2 .be_active_pre_header_text {
    font-size: 1.5rem;
  }
  .chapter_2 .be_active_pre_header_text::after {
    width: 24px;
    height: 5px;
    border-radius: 1px;
    z-index: 106;
  }
  .chapter_2 .be_active_text_zone {
    /* height: 417px; */
    margin: 0;
    padding-bottom: 100px;
  }
  .chapter_2 .be_active_header {
    margin: 0 0 0 24px;
    padding-top: 80px;
    font-size: 4.5rem;
    font-weight: bold;
    line-height: 1.0;
    letter-spacing: 0.4rem;
    color: #e7e7e7;
  }
  .chapter_2 .be_active_text {
    width: 86.5%;
    margin: 26px 0 0 32px;
    font-size: 1.5rem;
    font-weight: normal;
    letter-spacing: .07rem;
    color: #000000;
    line-height: 1.2;
    text-align: left;
  }
}
@media (min-width: 961px) {
  .chapter_2 >* {
    display: flex;
    flex-wrap: nowrap;
  }
  .chapter_2 .be_active_picture {
    margin: 0;
    max-width: 50%;
  }
  .chapter_2 .be_active_picture > * {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
  }
  .chapter_2 .be_active_pre_header {
    position: absolute;
    width: 168px;
    height: 154px;
    margin-top: 211px;
    margin-left: -84px;
  }
  .chapter_2 .be_active_pre_header_text {
    font-size: 1.3125rem;
  }
  .chapter_2 .be_active_pre_header_text::after {
      width: 24px;
      height: 5px;
      border-radius: 1px;
      z-index: 106;
  }
  .chapter_2 .be_active_text_zone {
    width: 50%;
    margin: 0;
  }
  .chapter_2 .be_active_header {
    margin: 260px 0 0 129px;
    font-size: 4.5rem;
    font-weight: bold;
    line-height: 1.0;
    letter-spacing: 0.25rem;
    color: #e7e7e7;
  }
  .chapter_2 .be_active_text {
    width: 64.3%;
    margin: 112px 0 0 129px;
    font-size: 1.5rem;
    font-weight: normal;
    letter-spacing: .05rem;
    color: #000000;
    line-height: 1.2;
    text-align: left;
  }
}

/* === styles for be_active === */
@media (max-width: 640px) {
  .be_active .be_active_text {
    letter-spacing: .02rem;
  }
}
@media (min-width: 961px) {
  .be_active .be_active_picture {
    /* height: 683px; */
  }
  .be_active .be_active_header {
    margin-top: 200px;
    margin-left: 100px;
  }
}
/* === styles for find_contact === */
@media (max-width: 640px) {
  .find_contact .be_active_text_zone {
    margin-bottom: 79px;
  }
  .find_contact .be_active_text {
    margin-top: 16px;
    letter-spacing: .01rem;
    width: 90%;
  }
}
@media (min-width: 641px) and (max-width:960px) {
  .find_contact .be_active_pre_header {
    margin-top: -96px;
  }
  .find_contact .be_active_header {
    padding-top: 65px;
  }
  .find_contact .be_active_text {
    margin-top: 28px;
  }
  .chapter_2 .find_contact .be_active_text_zone {
    padding-top: 0;
    padding-bottom: 104px;
  }
}
@media (min-width: 961px) {
  .find_contact {
    flex-direction: row-reverse;
  }
  .find_contact .be_active_pre_header {
    position: relative;
    margin-left: calc(100% - 84px);
  }
  .find_contact .be_active_header {
    margin-top: -160px;
    margin-left: 60px;
  }
}
/* === styles for work_it === */
@media (max-width: 640px) {
  .work_it .be_active_text_zone {
    margin-bottom: 68px;
  }
  .work_it .be_active_text {
    width: 90%;
    letter-spacing: .04rem;
    line-height: 1.25;
  }
}
@media (min-width: 641px) and (max-width:960px) {
  .work_it .be_active_pre_header {
    margin-top: -94px;
  }
  .work_it .be_active_text {
    margin-top: 18px;
  }
  .chapter_2 .work_it .be_active_text_zone {
    padding-bottom: 110px;
  }
  .work_it .be_active_header {
    padding-top: 70px;
  }
  .work_it .be_active_text {
    margin-top: 30px;
    /* letter-spacing: 0.08rem; */
  }
}

@media (min-width: 961px) {
  .work_it .be_active_picture {
    /* height: 683px; */
  }
  .work_it .be_active_header {
    margin: 100px 0 0 60px;
  }
}

/* === styles for footer === */
.footer {
  margin: 0;
  padding: 0;
  /* display: flex;
  flex-direction: column; */
}
.footer_big_logo {
  margin: 0 auto;
  background-image: -moz-linear-gradient( 180deg, #7554d5 0%, #51379c 100%);
  background-image: -webkit-linear-gradient( 180deg, #7554d5 0%, #51379c 100%);
  background-image: -ms-linear-gradient( 180deg, #7554d5 0%, #51379c 100%);
  background: linear-gradient(180deg, #7554d5, #51379c);
}
.footer_big_logo_svg {
  width: 83.33%;
  height: 68.0555%;
  z-index: 100;
}
.footer_big_logo_svg g {
  fill: #ffffff;
}
/* .footer_mid_margin, */
.footer_title,
 .footer_subtitle {
  display: block;
}
@media (max-width:640px) {
  .footer {
    padding-top: 100px;
    padding-bottom: 10px;
    background-image: url("../images/game_767.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 50%;
    background-color: rgba(30, 34, 68, 0.9);
    background-blend-mode: multiply;
    width: 100%;
    align-items: center;
  }
  .footer_top {
    margin: 0 auto;
    width: 100%;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
  }
  .footer_big_logo {
    width: 72px;
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 18px;
    z-index: 100;
  }
  .footer_big_logo_svg {
    /* width: 72px; */
    height: 49px;
    z-index: 100;
  }
  .footer_title {
    font-size: 2rem;
    letter-spacing: 0.1rem;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1;
    text-align: center;
    margin-top: 54px;
    margin-bottom: 0;
    z-index: 100;
  }
  .footer_subtitle {
    font-size: 0.9rem;
    letter-spacing: 0.005rem;
    color: #a496ca;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1;
    text-align: center;
    margin-top: 8px;
    padding-top: 0px;
    z-index: 100;
  }
  .footer .store_buttons {
    margin-top: 76px;
    /* font-size: 1.1em; */
    z-index: 100;
  }
  .footer .surface_logo {
    margin-top: 82px;
    /* margin-bottom: 10px; */
    z-index: 100;
  }
}

@media (min-width: 641px) and (max-width:960px) {
  .footer {
    padding-top: 126px;
    background-image: url("../images/game_1280.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 50%;
    background-color: rgba(30, 34, 68, 0.9);
    background-blend-mode: multiply;
    width: 100%;
    height: 958px;
  }
  .footer_big_logo {
    width: 137px;
    height: 137px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 36px;
    z-index: 100;
  }
  .footer_big_logo_svg {
    width: 104px;
    height: 87px;
    z-index: 100;
  }
  .footer_title {
    font-size: 5rem;
    letter-spacing: 0.3rem;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1;
    text-align: center;
    margin-top: 72px;
    margin-bottom: 0;
    z-index: 100;
  }
  .footer_subtitle {
    font-size: 2rem;
    letter-spacing: 0.11rem;
    color: #a496ca;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1;
    text-align: center;
    margin-top: 1rem;
    z-index: 100;
  }
  .footer .store_buttons {
    margin-top: 286px;
    justify-content: center;
    z-index: 100;
  }
  .footer .surface_logo {
    margin: 54px auto 10px auto;
    z-index: 100;
  }
}
@media (min-width: 961px) {
  .footer {
    padding-top: 230px;
    background-image: url("../images/game_1920.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 50%;
    background-color: rgba(30, 34, 68, 0.9);
    background-blend-mode: multiply;
    width: 100%;
    height: 960px;
  }
  .footer_top {
    margin: 0 auto;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer_big_logo {
    flex-shrink: 0;
    margin: 0;
    width: 130px;
    height: 137px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 36px;
    z-index: 100;
  }
  /* .footer_mid_margin {
    width: 36px;
    height: 137px;
    flex-shrink: 0;
    flex-grow: 0;
  } */
  .footer_titles {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .footer_title {
    font-size: 3.75rem;
    letter-spacing: 0.1rem;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1;
    text-align: left;
    margin: 0 0 20px 0;
    z-index: 100;
  }
  .footer_subtitle {
    font-size: 1.5rem;
    letter-spacing: 0.01rem;
    color: #a496ca;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1;
    /* text-align: left; */
    margin: 0;
    z-index: 100;
  }
  .footer .store_buttons {
    margin-top: 152px;
    margin-bottom: 260px;
    z-index: 100;
  }
}
